.link-head{
    border-radius: 5px;
    padding: 0.2rem 1rem 0.5rem 1rem;
    background-color: #D1F2EB ;
    color: #16A085;
    border: 1px solid #16A085;
    text-decoration: none;
    font-size: 1.3rem;
}

a.link-head:hover{
    text-decoration: none;
    color: #145A32;
    border: 1px solid #145A32;
    background-color: #A3E4D7;
}

.link-error{
    border-radius: 5px;
    padding: 0.2rem 1rem 0.5rem 1rem;
    background-color: #F8F3F3 ;
    color: #a04216;
    border: 1px solid #a04216;
    text-decoration: none;
    font-size: 1rem;
}

a.link-error:hover{
    text-decoration: none;
    color: #A96631;
    border: 1px solid #A96631;
    background-color: #FCB792;
}

.listButton{
    margin: 1rem 1rem 0 auto;
    button:first-child{
        background-color: #5DADE2;
        border-radius: 6px;
        border:2px solid #2E86C1;
        font-size: 1.1rem;
        padding: 0.4rem;
        color:black;
        margin: 0.25rem;
    }
    button:nth-child(2){
        background-color: #EC7063;
        border-radius: 6px;
        border:2px solid #CB4335;
        font-size: 1.1rem;
        padding: 0.4rem;
        color:black;
        margin: 0.25rem;
    }
  }