.link-head{
    border-radius: 5px;
    padding: 0.2rem 1rem 0.5rem 1rem;
    background-color: #D1F2EB ;
    color: #16A085;
    border: 1px solid #16A085;
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover{
    text-decoration: none;
    color: #145A32;
    border: 1px solid #145A32;
    background-color: #A3E4D7;
}