.page-header{
    text-align: center;
    font-size: 2rem;
}

.page-header2{
    text-align: center;
    font-size: 1rem;
}

.page-header-editPage{
    text-align: center;
    font-size: 3rem;
    color: #909497;
}

.tagline-head{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.tagline-head2{
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.h2-error{
    color: #a81414;
    margin-bottom: 1.5rem;
}

.h2-error404{
    color: #a81414;
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
}